/* h1 {

    background: red;

}

a {

    background-color: seagreen;
    color: white;
    font-size: 30px;

}*/

h1 {

    background: #000000;
    color: #8844ee;

}

a {

    background: rgb(0,0,0.5);    
    color: #84e;
    font-size: 30px;

}